:root {
	--background: rgb(17, 17, 17); /* #111111 */
	--secondary: rgb(92, 88, 88); /* #222222 */
	--border: rgb(51, 51, 51); /* #333333 */
	--foreground: rgb(255, 255, 255); /* #fff */
	--secondary-foreground: rgb(226, 225, 225); /* #aaa */

	/* Прозрачные версии для стекла */
	--background-glass: rgba(17, 17, 17, 0.2);
	--secondary-glass: rgba(92, 88, 88, 0.3);
	--border-glass: rgba(51, 51, 51, 0.3);

	--app-gradient: linear-gradient(
		80deg,
		rgba(174, 110, 110, 0.8),
		rgba(244, 139, 83, 0.7)
	);
}

.app_container {
	display: flex;
	gap: 4px;
	height: 100lvh;

	background: var(--app-gradient);
	background-size: 200% 200%;
	animation: gradient-shift 15s ease infinite;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	transition: background 1s ease;
}

@keyframes gradient-shift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	margin: 0px;
	font-size: 14px;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
}

button {
	cursor: pointer;
	border-color: var(--border);
	color: var(--foreground);
	text-align: center;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
}

.bg-primary {
	background: var(--background);
}

.text-foreground {
	color: var(--foreground);
}

.bg-secondary {
	background: var(--secondary);
}

.text-secondary {
	color: var(--secondary-foreground);
}


@media (max-height: 280px) {
	.titlebar {
		display: none !important;
	}
}

.music_playing .rotate-infinity {
	animation: rotate-infinity 6s linear infinite;
}

@keyframes rotate-infinity {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}